<%- include ('../../partials/header.ejs') %> <%- include
('../../partials/navbar.ejs') %>

<div class="container mb-3">
  <hr />
  <div class="card">
    <div class="card-header">
      <h2>Novo Artigo</h2>
    </div>
    <div class="card-body">
      <form method="POST" action="/articles/save">
        <input
          class="form-control"
          type="text"
          name="title"
          placeholder="Define o título da Artigo"
          required
        />
        <textarea
          class="form-control mt-2"
          id="article"
          name="body"
          placeholder="Digita o artigo aqui!"
        >
        </textarea>
        <label class="mt-2">Categoria: </label>
        <select name="category" class="form-control">
          <% categories.forEach((category) =>{ %>
          <option value="<%= category.id %>"><%= category.title %></option>
          <% }) %>
        </select>
        <button class="btn btn-outline-info mt-3">Cadastrar</button>
      </form>
    </div>
  </div>
</div>

<%- include ('../../partials/footer.ejs') %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
  tinymce.init({
    language: "pt_BR",
    selector: "#article",
    plugins: [
      "advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons"
    ]
  });
</script>
