<%- include ('../../partials/header.ejs') %> <%- include
('../../partials/navbar.ejs') %>

<div class="container mb-3">
  <hr />
  <div class="card">
    <div class="card-header">
      <h2>Edição de Categoria</h2>
    </div>
    <div class="card-body">
      <form method="POST" action="/categories/update">
        <input
          class="form-control"
          type="text"
          name="title"
          placeholder="Define o título da Categoria"
          value="<%= category.title %>"
          required
        />
        <input type="hidden" name="id" value="<%= category.id %>" />
        <button class="btn btn-outline-info mt-2">Atualizar</button>
      </form>
    </div>
  </div>
</div>

<%- include ('../../partials/footer.ejs') %>
